<form method="post" action="{{ path('urgencia_delete', {'id': urgencium.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ urgencium.id) }}">
    <button class="btn">Borrar</button>
</form>
