{% extends 'base.html.twig' %}

{% block title %}Editar teléfono de urgencia{% endblock %}

{% block body %}
    <h1>Editar teléfono de urgencia</h1>

    {{ include('urgencia/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('urgencia_index') }}">Volver</a>

    {{ include('urgencia/_delete_form.html.twig') }}
{% endblock %}
