{% extends 'base.html.twig' %}

{% block title %}Añadir teléfono de urgencia{% endblock %}

{% block body %}
    <h1>Añadir teléfono de urgencia</h1>

    {{ include('urgencia/_form.html.twig') }}

    <a href="{{ path('urgencia_index') }}">Volver</a>
{% endblock %}
