{% extends 'base.html.twig' %}

{% block title %}Editar servicio{% endblock %}

{% block body %}
    <h1>Editar servicio</h1>

    {{ include('servicio/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('servicio_index') }}">Volver</a>

    {{ include('servicio/_delete_form.html.twig') }}
{% endblock %}
