{% extends 'base.html.twig' %}

{% block title %}Añadir servicio{% endblock %}

{% block body %}
    <h1>Añadir nuevo servicio</h1>

    {{ include('servicio/_form.html.twig') }}

    <a href="{{ path('servicio_index') }}">Volver</a>
{% endblock %}
