{% extends 'base.html.twig' %}

{% block title %}Editar evento{% endblock %}

{% block body %}
    <h1>Editar evento</h1>

    {{ include('evento/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('evento_index') }}">Volver</a>

    {{ include('evento/_delete_form.html.twig') }}
{% endblock %}
