{% extends 'base.html.twig' %}

{% block title %}Nuevo evento{% endblock %}

{% block body %}
    <h1>Añadir nuevo evento</h1>
    <div class="container">
        {{ include('evento/_form.html.twig') }}
        <a href="{{ path('evento_index') }}">Volver</a>
    </div>
{% endblock %}
